.card {
    transition: transform 1.5s  ease-in-out;
    &:hover {
      transform: scale(1.2) ; /* Increase the scale slightly to make it look closer */
    }
    
  }
  .card.hovered ~ .card {
    opacity: 0;
    pointer-events: none;
  }
