.card {
    transition: transform 1.5s ease;
    &:hover {
      transform: scale(1.05); /* Increase the scale slightly to make it look closer */
    }
    
  }
  .card.hovered ~ .card {
    opacity: 0;
    pointer-events: none;
  }