
.countdown-container {
    text-align: center;
    margin-top: 50px;
  }
  
.countdown-timer {
  display: inline-block;
}

.countdown-timer p{
  display: inline;
  margin: 0 10px;
  
}
.divcountdown {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
}

  @media screen and (max-width: 480px) {
    .countdown-timer {
      display: block;
    }
  
    .countdown-timer p {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
