@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #21241d;
  background-image: url("./assets/362457478_1484646572304761_8332109809850964109_n.jpg");
  background-size: cover; /* This will scale the image to cover the entire container */
  background-repeat: repeat;


  /* Set the height of the container */
  height: 100%; /* Adjust this value as needed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
