@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Kanit&display=swap');


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
* {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #155073;
  /* background-image: url("./assets/362457478_1484646572304761_8332109809850964109_n.jpg"); */
  background-size: cover; /* This will scale the image to cover the entire container */
  background-repeat: repeat;
  animation: changeBackgroundColor 30s infinite;

  /* Set the height of the container */
  height: 100%; /* Adjust this value as needed */
}
@keyframes changeBackgroundColor {
  0%, 100% {
    background-color: rgba(21, 80, 115, 1); /* Start and end with the original color */
  }
 
  75% {
    background-color: rgba(3, 43, 66, 1); /* Transition to a darker shade */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
